<!DOCTYPE html>
<html ng-app="updateApp" ng-controller="rootController">
<head lang="en">
    <meta charset="UTF-8">
    <script>
        var exec = require('child_process').exec;
        var execSync = require('child_process').execSync;
        var config = require('./config.json');
    </script>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app/update.module.js"></script>

    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="button-group">
        <p>Project path&nbsp;
            <input ng-model="project.path" value="{{project.path}}">
            <button ng-click="resetPath()" ng-disabled="checking || updating">Reset</button>
        </p><br>
        <button class="main-btn" type="button" ng-click="checkUpToDate()" ng-disabled="!projectPath || checking || updating || !upToDate">Check for Updates</button>
        &nbsp;&nbsp;<img src="assets/img/spinner.gif" ng-show="checking">
        <span class="info-text">&nbsp;&nbsp;&nbsp;{{checkMsg}}</span><br><br>
        <button class="main-btn" type="button" ng-click="updateRepo()" ng-disabled="upToDate || updating">Install Updates</button>
        &nbsp;&nbsp;<img src="assets/img/spinner.gif" ng-show="updating">
        <span class="info-text">&nbsp;&nbsp;&nbsp;{{updateMsg}}</span>
        <br><br><br>
        <p class="error-text">{{bowerError}}</p>
        <p class="error-text">{{npmError}}</p>
    </div>

</body>
</html>