<!DOCTYPE html>
<html ng-app="updateApp" ng-controller="rootController">
<head lang="en">
    <meta charset="UTF-8">
    <script>
        var exec = require('child_process').exec;
    </script>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="update.module.js"></script>

    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="button-group">
        <p>Path to project:&nbsp;&nbsp;
            <input ng-model="project.path">
        </p>
        <button type="button" ng-click="checkUpToDate()" ng-disabled="!project.path">Check for Upgrades</button>
        <span>&nbsp;&nbsp;&nbsp;{{checkMsg}}</span><br><br>
        <button type="button" ng-click="updateRepo()" ng-disabled="upToDate">Install Upgrades</button>
        <span>&nbsp;&nbsp;&nbsp;{{updateMsg}}</span>
    </div>
</body>
</html>