input {
    width: 300px;
    padding: 5px;
    border: solid 2.75px #c9c9c9;
    transition: border 0.3s;
}

input:focus {
    border: solid 2.75px #969696;
    outline: none;
}

.button-group {
    margin-top: 30px;
    margin-left: 30px;
}

button {
    border-style: none;
    background-color:#419aba;
    border-radius:3px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Verdana, sans-serif;
    font-size:15px;
    padding:6px 15px;
    outline:none
}

button:disabled {
    cursor:default;
    background-color: rgba(65, 154, 186, 0.3);
}